{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
    <h1>Réservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Code de réservation</th>
                <td>{{ reservation.numReservation }}</td>
            </tr>
            <tr>
                <th>Date Début</th>
                <td>{{ reservation.dateDebut ? reservation.dateDebut|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Date Fin</th>
                <td>{{ reservation.dateFin ? reservation.dateFin|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ reservation.commentaire }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('admin.reservation.index') }}">Retourner à la liste</a>
{% endblock %}
